---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <SectionContainer>
    <h1 class="bg-custom-green" >Hola Mundo...</h1>
  </SectionContainer>
</Layout>
