---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import InstallationSection from "../components/InstallationSection.astro";
import UsageSection from "../components/UsageSection.astro";
import InteractiveExample from "../components/InteractiveExample";
import Footer from "../components/Footer.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout>
  <main>
    <SectionContainer>
      <Hero />
    </SectionContainer>
    <SectionContainer class="mb-20">
      <InstallationSection />
    </SectionContainer>
    <SectionContainer class="mb-20">
      <UsageSection />
    </SectionContainer>
    <!-- <SectionContainer>
      <InteractiveExample />
    </SectionContainer> -->
    <!-- <Footer /> -->
  </main>
</Layout>
