---
import Button from "./Button.astro";
import Paragraph from "./Paragraph.astro";
---

<div class="text-center max-w-4xl mx-auto py-60">
  <h1 class="text-6xl md:text-7xl font-bold mb-4">
    <span class="text-white"
      >use<span class="text-custom-green">Flags</span></span
    >
  </h1>

  <Paragraph> A React hook for managing multiple boolean flags </Paragraph>

  <Button name="GitHub" href="https://github.com/leomoreno99/use-flags-state" />
</div>
