---
import CodeBlock from "./CodeBlock";
import Paragraph from "./Paragraph.astro";
import Subtitle from "./Subtitle";
import { getCodeTemplate } from "../utils/codeTemplates";
---

<div class="mx-auto max-w-4xl flex flex-col gap-3.5">
  <Subtitle text="Usage" />

  <Paragraph>
    Manage multiple boolean flags in a single state object, with individual and
    batch updates, and optional reset to initial values.
  </Paragraph>

  <div class="space-y-8">
    <CodeBlock code={getCodeTemplate("basicExample")} client:only="react" />
  </div>
</div>
