---
import "../styles/global.css";
import "../styles/custom-colors.css";
import "@fontsource-variable/roboto-mono";
import "@fontsource/oxygen/300.css";
import "@fontsource/oxygen/400.css";
import "@fontsource/oxygen/700.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>useFlags - A React hook for managing multiple boolean flags</title>
  </head>
  <body class="bg-black oxygen">
    <slot />
  </body>
</html>
